.mat-column-id {
  text-align: center;
}

.mat-column-name {
  text-align: center;
}

.mat-column-status {
  text-align: center;
}

.mat-column-created_at {
  text-align: center;
}

.mat-column-acciones {
  text-align: center;
}
