<div class="container">
  <div class="row">
    <h1 align="center">{{ title }}</h1>
  </div>

  <button mat-raised-button color="primary" class="mb-4" [routerLink]="['/departments/new-department']">Agregar Departamento +</button>

  <table-generic [data]="department" [navegacion]="urlDepartment" (onDelete)="OnDelete($event)"></table-generic>

  <shared-loader *ngIf="isLoading"></shared-loader>
</div>

<!-- <div class="row">
  <table-department [departments]="departments"></table-department>
</div> -->

