<div class="container">
  <div class="row">
    <h3 class="center">Departamentos</h3>
  </div>

  <div class="row">
    <form action="" class="col s12">
      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <label for="Primer_nombre">Nombre del Departamento:
            <input type="text" name="name" placeholder="Nombre del Departamento"></label>
          </div>
        </div>
      </div>

      <div class="section p">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">group</i>
            <select name="sexo">
              <option value="" disabled selected>Elija una opcion</option>
              <option value="0">Habilitado</option>
              <option value="1">Inabilitado</option>
            </select>
            <label>Sexo:</label>
          </div>
        </div>
      </div>

      <div class="section p">
        <div class="row">
            <div class="input-field col s12 center-align">
                <button class="btn blue darken-1 waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
                </button>
                |
                <a href="#" class="btn waves-effect waves-light red"><i class="material-icons right">arrow_back</i>Volver</a>

            </div>
        </div>
    </div>

    </form>
  </div>
</div>
