.green{
  background-color: greenyellow;
}

.mat-column-id {
  text-align: center;
}

.mat-column-names {
  text-align: center;
}

.mat-column-lastnames {
  text-align: center;
}

.mat-column-incomeSpecialty {
  text-align: center;
}

.mat-column-created_at {
  text-align: center;
}

.mat-column-acciones {
  text-align: center;
}
