<!-- <div class="navbar-fixed">
  <nav class="blue darken-2">
    <div class="nav-wrapper">
        <a href="#" data-target="slide-out" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <a href="#!" class="brand-logo left">
          <img src="public/img/inso.jpg" alt="logo" width="65px" height="65px" class="circle z-depth-5">
      </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#">
                    <i class="material-icons">search</i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">view_module</i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">refresh</i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">more_vert</i>
                </a>
            </li>
        </ul>
    </div>
  </nav>

</div> -->
