<div class="container-two">
  <h1 align="center">{{title}}</h1>
  <h2 align="center">{{ currentStudent.id ? 'Actualizando': 'Creando' }} {{ficha}} {{customDate | date:'yyyy'}}</h2>

  <mat-tab-group>

    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

    <!-- Toolbar-one -->
    <mat-tab label="Identificacion Del Estudiante">
      <h2 class="mt-5">Informacion Del Estudiante:</h2>
      <div class="flex">
        <!-- Nombres -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Nombres</mat-label>
            <input type="text" matInput placeholder="Nombres" formControlName="names">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Apellidos -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input type="text" matInput placeholder="Apellidos" formControlName="lastnames">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Fecha_De_Nacimiento -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field color="primary">
            <mat-label>Fecha De Nacimiento</mat-label>
            <input matInput [matDatepicker]="dateBirth" formControlName="dateBirth">
            <mat-datepicker-toggle matIconSuffix [for]="dateBirth"></mat-datepicker-toggle>
            <mat-datepicker #dateBirth color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Nacionalidad -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Nacionalidad</mat-label>
            <mat-select formControlName="nationality_id">
              <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">
                {{ nationality.name }}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>people</mat-icon>
          </mat-form-field>
        </div>

        <!-- Departamento_De_Nacimiento -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Departamento De Nacimiento</mat-label>
            <mat-select formControlName="departmentBirth_id">
              <mat-option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>assignment_ind</mat-icon>
          </mat-form-field>
        </div>

        <!-- Municipio De Nacimiento -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Municipio De Nacimiento</mat-label>
            <mat-select formControlName="municipalityBirth_id">
              <mat-option *ngFor="let municipality of municipalities" [value]="municipality.id">{{ municipality.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>assignment_ind</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Ano_De_Bachillerato -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Año De Bachillerato</mat-label>
            <mat-select formControlName="yearStudy">
              <mat-option *ngFor="let yearStudy of yearStudies" [value]="yearStudy.id">{{ yearStudy.yearStudy }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>local_library</mat-icon>
          </mat-form-field>
        </div>

        <!-- NIE -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>NIE</mat-label>
            <input matInput #postalCode maxlength="10" placeholder="Ex. 8148921010" formControlName="nie">
            <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
            <mat-icon matSuffix>person_pin</mat-icon>
          </mat-form-field>
        </div>

        <!-- Numero_de_Partida_Nacimiento -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Numero De Partida De Nacimiento:</mat-label>
            <input type="text" matInput placeholder="# Numero De Partida" formControlName="departureNumber">
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Numero_De__Folio -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Numero De Folio De Nacimiento:</mat-label>
            <input type="text" matInput placeholder="# Numero De Folio" formControlName="departureFolio">
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Libro_De_Partida -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Libro De La Partida De Nacimiento:</mat-label>
            <input type="text" matInput placeholder="# Numero De Libro" formControlName="departureBook">
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Otro_Documento_De_Identificacion -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Otro Documento De Identificacion</mat-label>
            <input type="text" matInput placeholder="Otro Documento De Identificacion" formControlName="anotherIdentificationDocument">
            <mat-icon matSuffix>portrait</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">

        <!-- Salvadoreno Por -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Salvadoreña/o Por:</mat-label>
            <mat-select formControlName="salvadoreno_por">
              <mat-option value="Nacimiento">Nacimiento</mat-option>
              <mat-option value="Naturalizado">Naturalizado</mat-option>
            </mat-select>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>

        <!-- Especialidad -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Especialidad:</mat-label>
            <mat-select formControlName="incomeSpecialty_id">
              <mat-option *ngFor="let specialty of specialties" [value]="specialty.id">{{ specialty.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>class</mat-icon>
          </mat-form-field>
        </div>

        <!-- Estudio Parvularia -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Estudio Parvularia:</mat-label>
            <mat-select formControlName="parvularianStudy">
              <mat-option value="SI">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
            <mat-icon matSuffix>content_paste</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Repite Grado -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Repite Grado:</mat-label>
            <mat-select formControlName="repeatSection">
              <mat-option value="SI">SI</mat-option>
              <mat-option value="NO">NO</mat-option>
            </mat-select>
            <mat-icon matSuffix>content_paste</mat-icon>
          </mat-form-field>
        </div>

        <!-- Centro De Procedencia -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Centro De Procedencia:</mat-label>
            <mat-select formControlName="school_center_id">
              <mat-option *ngFor="let schoolcenter of schoolcenters" [value]="schoolcenter.id">{{ schoolcenter.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>content_paste</mat-icon>
          </mat-form-field>
        </div>

        <!-- Año Que Estudio Anteriormente -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Año Que Estudio Anteriormente</mat-label>
            <input type="text" matInput placeholder="Otro Documento De Identificacion" formControlName="previousYear">
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>
      </div>

    </mat-tab>

    <!-- Toolbar-two -->
    <mat-tab label="Informacion Del Estudiante">
      <!-- Informacion Del Estudiante -->
      <h2 class="mt-5">Informacion Del Estudiante: </h2>
      <div class="flex">
        <!-- Tipo_De_Sangre -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Tipo De Sangre</mat-label>
            <input type="text" matInput placeholder="Tipo De Sangre" formControlName="bloodType">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Sexo -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
              <mat-option value="F">Femenino</mat-option>
              <mat-option value="M">Masculino</mat-option>
            </mat-select>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>

        <!-- Estado_Familiar -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Estado Familiar</mat-label>
            <mat-select formControlName="stateFamiliar">
              <mat-option value="V">Viudo</mat-option>
              <mat-option value="C">Casado</mat-option>
              <mat-option value="A">Acompañado</mat-option>
              <mat-option value="D">Divorciado</mat-option>
              <mat-option value="S">Soltero</mat-option>
            </mat-select>
            <mat-icon matSuffix>people</mat-icon>
          </mat-form-field>
        </div>

        <!-- Discapacidad -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Discapacidad:</mat-label>
            <mat-select formControlName="disability">
              <mat-option value="Ceguera">Ceguera</mat-option>
              <mat-option value="Baja Vision">Baja Vision</mat-option>
              <mat-option value="Sordera">sordera</mat-option>
              <mat-option value="Hipoacusia">Hipoacusia</mat-option>
              <mat-option value="Sindrome De Down">Sindrome De Down</mat-option>
              <mat-option value="Retardo Mental">Retardo Mental</mat-option>
              <mat-option value="Problemas Motores">Problemas Motores</mat-option>
              <mat-option value="Ausencia De Miembros">Ausencia De Miembros</mat-option>
              <mat-option value="Autismo">Autismo</mat-option>
              <mat-option value="Ninguna">Ninguna</mat-option>
            </mat-select>
            <mat-icon matSuffix>accessible</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- Datos De Contactos Del Estudiante -->
      <h2 class="mt-5">Datos De Contacto: </h2>
      <div class="flex">
         <!-- Email -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

         <!-- Telefono -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input type="text" matInput placeholder="0000-0000" formControlName="telephone">
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- Datos De Residencia Del Estudiante -->
      <h2 class="mt-5">Residencia: </h2>
      <div class="flex">
        <!-- Zonas -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Zonas:</mat-label>
            <mat-select formControlName="zone_id">
              <mat-option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>list</mat-icon>
          </mat-form-field>
        </div>

        <!-- Departamentos -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Departamento:</mat-label>
            <mat-select formControlName="departmentResidence_id">
              <mat-option *ngFor="let departmentResident of departments" [value]="departmentResident.id">
                {{ departmentResident.name }}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>assignment_ind</mat-icon>
          </mat-form-field>
        </div>

        <!-- Municipios -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Municipio:</mat-label>
            <mat-select formControlName="municipalityResidence_id">
              <mat-option *ngFor="let municipalityResident of municipalities" [value]="municipalityResident.id">
                {{ municipalityResident.name }}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>assignment_ind</mat-icon>
          </mat-form-field>
        </div>

        <!-- Canton -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Canton:</mat-label>
            <mat-select formControlName="cantonResidence_id">
              <mat-option *ngFor="let canton of cantones" [value]="canton.id">{{ canton.name}}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Caserios -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Caserio:</mat-label>
            <mat-select formControlName="hamletResidence_id">
              <mat-option *ngFor="let hamlet of hamlets" [value]="hamlet.id">{{ hamlet.name}}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Tipo_De_Calle -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Tipo De Calle:</mat-label>
            <mat-select formControlName="streetType">
              <mat-option value="Polvosa">Polvosa</mat-option>
              <mat-option value="Enpavimentada">Enpavimentada</mat-option>
            </mat-select>
            <mat-icon matSuffix>chevron_right</mat-icon>
          </mat-form-field>
        </div>

        <!-- Direccion_Completa_Del_Estudiante -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Direccion Completa Del Estudiante</mat-label>
            <input type="text" matInput placeholder="Direccion Completa Del Estudiante" formControlName="fullAddress">
            <mat-icon matSuffix>directions_walk</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- Otros Datos Del Estudiante -->
      <h2 class="mt-5">Otros Datos:</h2>
      <div class="flex">
        <!-- Medio De Transporte Para Llegar Al Centro Educativo -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Medio De Transporte Para Llegar Al Centro Educativo:</mat-label>
            <mat-select formControlName="middleTransport">
              <mat-option value="A Pie">A Pie</mat-option>
              <mat-option value="Bicicleta">Bicicleta</mat-option>
              <mat-option value="Autobus">Autobus</mat-option>
              <mat-option value="Vehiculo Propio">Vehiculo Propio</mat-option>
              <mat-option value="Otro">Otro</mat-option>
            </mat-select>
            <mat-icon matSuffix>directions_bus</mat-icon>
          </mat-form-field>
        </div>

        <!-- Kilometros De Distancia Entre El Instituto Y Su Residencia -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Kilometros De Distancia Entre El Instituto Y Su Residencia:</mat-label>
            <input type="text" matInput placeholder="Kilometros De Distancia Entre El Instituto Y Su Residencia" formControlName="distanceFromHomeSchool">
            <mat-icon matSuffix>compare_arrows</mat-icon>
          </mat-form-field>
        </div>

        <!-- Factor De Riesgo -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Factor De Riesgo:</mat-label>
            <input type="text" matInput placeholder="Factor De Riesgo" formControlName="riskFactor">
            <mat-icon matSuffix>add_alert</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- Grupo Familiar -->
      <h2 class="mt-5">Grupo Familiar:</h2>
      <div class="flex">
        <!-- Numero De Integrantes De La Familia -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Numero De Integrantes De La Familia:</mat-label>
            <input type="text" matInput placeholder="Numero De Integrantes De La Familia" formControlName="numberMembersFamily">
            <mat-icon matSuffix>wc</mat-icon>
          </mat-form-field>
        </div>

        <!-- Integrados -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Integrados:</mat-label>
            <mat-select formControlName="integrated">
              <mat-option *ngFor="let integrate of selects" [value]="integrate.id">{{ integrate.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>wc</mat-icon>
          </mat-form-field>
        </div>

        <!-- Depende Economicamente De -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Depende Economicamente De:</mat-label>
            <mat-select formControlName="dependsEconomically">
              <mat-option value="Mama">Mama</mat-option>
              <mat-option value="Papa">Papa</mat-option>
              <mat-option value="Mama y Papa">Mama y Papa</mat-option>
              <mat-option value="Abuelo/a">Abuelo/a</mat-option>
              <mat-option value="Tio/a">Tio/a</mat-option>
            </mat-select>
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Tiene Hijos -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Tiene Hijos:</mat-label>
            <mat-select formControlName="hasChildren">
              <mat-option *ngFor="let children of selects" [value]="children.id">{{ children.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>group</mat-icon>
          </mat-form-field>
        </div>

        <!-- Cuantos Hijos Tiene -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Cuantos Hijos Tiene:</mat-label>
            <input type="text" matInput placeholder="Cuantos Hijos Tiene" formControlName="numberChildren">
            <mat-icon matSuffix>wc</mat-icon>
          </mat-form-field>
        </div>

        <!-- Trabaja -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Trabaja:</mat-label>
            <mat-select formControlName="work">
              <mat-option *ngFor="let work of selects" [value]="work.id">{{ work.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>group</mat-icon>
          </mat-form-field>
        </div>

        <!-- Convivencia Con -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Convivencia Con:</mat-label>
            <mat-select formControlName="coexistenceWith">
              <mat-option value="Mama">Mama</mat-option>
              <mat-option value="Papa">Papa</mat-option>
              <mat-option value="Mama y Papa">Mama y Papa</mat-option>
              <mat-option value="Abuelo/a">Abuelo/a</mat-option>
              <mat-option value="Tio/a">Tio/a</mat-option>
            </mat-select>
            <mat-icon matSuffix>wc</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Nombre De La Madre -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Nombre De La Madre:</mat-label>
            <input type="text" matInput placeholder="Nombre De La Madre" formControlName="mothersName">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Ocupacion De La Madre -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Ocupacion De La Madre:</mat-label>
            <input type="text" matInput placeholder="Ocupacion De La Madre" formControlName="occupationMother">
            <mat-icon matSuffix>assignment_turned_in</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Lugar De Trabajo ( madre ) -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Lugar De Trabajo ( madre ):</mat-label>
            <input type="text" matInput placeholder="Lugar De Trabajo ( madre )" formControlName="workplaceOfTheMother">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Telefono ( madre ): -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Telefono ( madre ):</mat-label>
            <input type="text" matInput placeholder="0000-0000" formControlName="mothersPhone">
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Nombre Del Padre -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Nombre Del Padre:</mat-label>
            <input type="text" matInput placeholder="Nombre Del Padre" formControlName="fathersName">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Ocupacion Del Padre -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Ocupacion Del Padre:</mat-label>
            <input type="text" matInput placeholder="Ocupacion Del Padre" formControlName="occupationFather">
            <mat-icon matSuffix>assignment_turned_in</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Lugar De Trabajo ( padre ) -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Lugar De Trabajo ( padre ):</mat-label>
            <input type="text" matInput placeholder="Lugar De Trabajo ( padre )" formControlName="workplaceOfTheFather">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Telefono ( padre ): -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Telefono ( padre ):</mat-label>
            <input type="text" matInput placeholder="0000-0000" formControlName="fathersPhone">
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </div>
      </div>

    </mat-tab>

    <!-- Toolbar-three -->
    <mat-tab label="Identificacion Del Responsable">
      <h2 class="mt-5">Identificacion Del Responsable:</h2>
      <div class="flex">
        <!-- >Nombres Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Nombres Del Responsable:</mat-label>
            <input type="text" matInput placeholder="Nombres Del Responsable" formControlName="ResponsibleNames">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Apellidos Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Apellidos Del Responsable:</mat-label>
            <input type="text" matInput placeholder="Apellidos Del Responsable" formControlName="ResponsibleLastNames">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>

        <!-- Numero De Dui -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Numero De DUI</mat-label>
            <input matInput #postalCode maxlength="10" placeholder="00000000-0" formControlName="DuiResponsible">
            <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
            <mat-icon matSuffix>person_pin</mat-icon>
          </mat-form-field>
        </div>

        <!-- Estado Familiar -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Estado Familiar:</mat-label>
            <mat-select formControlName="familyStateResponsible">
              <mat-option value="V">Viudo</mat-option>
              <mat-option value="C">Casado</mat-option>
              <mat-option value="A">Acompañado</mat-option>
              <mat-option value="D">Divorciado</mat-option>
              <mat-option value="S">Soltero</mat-option>
            </mat-select>
            <mat-icon matSuffix>wc</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- Datos De Contactos -->
      <h2 class="mt-5">Datos De Contacto: </h2>
      <div class="flex">
         <!-- Email -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="emailResponsible" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

         <!-- Telefono -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input type="text" matInput placeholder="0000-0000" formControlName="phoneResponsible">
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- Datos De Residencia Del Responsable -->
      <h2 class="mt-5">Residencia: </h2>
      <div class="flex">
        <!-- Zonas Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Zonas:</mat-label>
            <mat-select formControlName="zoneReponsible_id">
              <mat-option *ngFor="let zoneResposible of zones" [value]="zoneResposible.id">{{ zoneResposible.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>list</mat-icon>
          </mat-form-field>
        </div>

        <!-- Departamentos Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Departamento:</mat-label>
            <mat-select formControlName="departmentReponsible_id">
              <mat-option *ngFor="let departmentResponsible of departments" [value]="departmentResponsible.id">{{ departmentResponsible.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>assignment_ind</mat-icon>
          </mat-form-field>
        </div>

        <!-- Municipios Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Municipio:</mat-label>
            <mat-select formControlName="municipalityReponsible_id">
              <mat-option *ngFor="let municipalityResponsible of municipalities" [value]="municipalityResponsible.id">{{ municipalityResponsible.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>assignment_ind</mat-icon>
          </mat-form-field>
        </div>

        <!-- Canton Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Canton:</mat-label>
            <mat-select formControlName="cantonReponsible_id">
              <mat-option *ngFor="let cantonResponsible of cantones" [value]="cantonResponsible.id">{{ cantonResponsible.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Caserios Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Caserio:</mat-label>
            <mat-select formControlName="hamletReponsible_id">
              <mat-option *ngFor="let hamletResponsible of hamlets" [value]="hamletResponsible.id">{{ hamletResponsible.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Tipo_De_Calle Del Responsable -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Tipo De Calle:</mat-label>
            <mat-select formControlName="streetTypeReponsible">
              <mat-option value="Polvosa">Polvosa</mat-option>
              <mat-option value="Enpavimentada">Enpavimentada</mat-option>
            </mat-select>
            <mat-icon matSuffix>chevron_right</mat-icon>
          </mat-form-field>
        </div>

        <!-- Direccion_Completa_Del_Responsable-->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Direccion Completa Del Responsable</mat-label>
            <input type="text" matInput placeholder="Direccion Completa Del Responsable" formControlName="fullAddressResponsible">
            <mat-icon matSuffix>directions_walk</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <h2 class="mt-5">Otros Datos Del Responsable: </h2>
      <div class="flex">
        <!-- >Profesion U Oficio -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Profesion U Oficio:</mat-label>
            <input type="text" matInput placeholder="Profesion U Oficio" formControlName="professionIfficeResponsible">
            <mat-icon matSuffix>business_center</mat-icon>
          </mat-form-field>
        </div>

        <!-- Telefono ó celular -->
        <!-- <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Telefono ó celular:</mat-label>
            <input type="text" matInput placeholder="Telefono ó celular" formControlName="responsibleSchool">
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </div> -->

        <!-- Escolaridad -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Escolaridad:</mat-label>
            <mat-select formControlName="responsibleSchool">
              <mat-option value="Primer ciclo (1° a 3°)">Primer ciclo (1° a 3°)</mat-option>
              <mat-option value="Segundo ciclo (4° a 6°)">Segundo ciclo (4° a 6°)</mat-option>
              <mat-option value="Tercer ciclo (7° a 9°)">Tercer ciclo (7° a 9°)</mat-option>
              <mat-option value="Bachiller">Bachiller</mat-option>
              <mat-option value="Ninguno">Ninguno</mat-option>
            </mat-select>
            <mat-icon matSuffix>book</mat-icon>
          </mat-form-field>
        </div>

        <!-- Factor De Riesgo -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Factor De Riesgo:</mat-label>
            <input type="text" matInput placeholder="Factor De Riesgo" formControlName="riskFactorResponsable">
            <mat-icon matSuffix>add_alert</mat-icon>
          </mat-form-field>
        </div>

      </div>
    </mat-tab>

    <!-- Toolbar-four -->
    <mat-tab label="Profesor Que Realizo La Matricula">
      <h2 class="mt-5 mb-5">Reservado para el profesor que realizo la Matricula:</h2>

      <div class="flex">
        <!-- Fecha De Revision -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field color="primary">
            <mat-label>Fecha de revision:</mat-label>
            <input matInput [matDatepicker]="dateReviewForm" formControlName="dateReviewForm">
            <mat-datepicker-toggle matIconSuffix [for]="dateReviewForm"></mat-datepicker-toggle>
            <mat-datepicker #dateReviewForm color="primary"></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Partida De Nacimiento -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Partida De Nacimiento:</mat-label>
            <mat-select formControlName="birthCertificate">
              <mat-option *ngFor="let birthCertificate of selects" [value]="birthCertificate.id">{{ birthCertificate.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Certificacion De Notas -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Certificacion De Notas:</mat-label>
            <mat-select formControlName="certificationNotes">
              <mat-option *ngFor="let certificationNotes of selects" [value]="certificationNotes.id">{{ certificationNotes.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Certificacion -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Certificado:</mat-label>
            <mat-select formControlName="certificate">
              <mat-option *ngFor="let certificate of selects" [value]="certificate.id">{{ certificate.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <!-- Fotos -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Fotos:</mat-label>
            <mat-select formControlName="photos">
              <mat-option *ngFor="let photos of selects" [value]="photos.id">{{ photos.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Fotocopias De DUI -->
        <!-- <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Fotocopias De DUI:</mat-label>
            <mat-select formControlName="RecordNotes">
              <mat-option value="option1">SI</mat-option>
              <mat-option value="option1">NO</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div> -->

        <!-- Constancia De Conducta -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Constancia De Conducta:</mat-label>
            <mat-select formControlName="RecordNotes">
              <mat-option *ngFor="let recordNote of selects" [value]="recordNote.id">{{ recordNote.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Carnet Residente -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <mat-form-field>
            <mat-label>Carnet Residente:</mat-label>
            <mat-select formControlName="residentCard">
              <mat-option *ngFor="let residentCard of selects" [value]="residentCard.id">{{ residentCard.name }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>blur_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Profesor Que Realizo La Matricula -->
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round">
          <mat-form-field>
            <mat-label>Profesor Que Realizo La Matricula:</mat-label>
            <mat-select formControlName="teacher_id">
              <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{ teacher.names }} {{ teacher.lastNames }}</mat-option>
            </mat-select>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="flex">
        <div class="flex-1 h-7rem bg-primary font-bold text-center border-round mx-8">
          <button mat-raised-button (click)="onSubmit()">
            <mat-icon matSuffix>send</mat-icon>
            Enviar Datos
          </button>
        </div>

      </div>
    </mat-tab>
    </form>
  </mat-tab-group>
</div>
