<div class="container">

  <div class="row">
    <h1 align="center">{{title}}</h1>
  </div>

  <mat-form-field>
    <mat-label>Busca por nombres, apellidos, nie y especialidad</mat-label>
    <input matInput  placeholder="Edwin Bernardino, 814892, Desarrollo De Software" #input>
  </mat-form-field>

  <table [dataSource]="student" mat-table class="mat-elevation-z15 mt-5 p-3">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element" class="p-3"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="names">
      <th mat-header-cell *matHeaderCellDef> NOMBRES </th>
      <td mat-cell *matCellDef="let element" class="p-3"> {{element.names}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastnames">
      <th mat-header-cell *matHeaderCellDef> APELLIDOS </th>
      <td mat-cell *matCellDef="let element" class="p-3"> {{element.lastnames}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="nie">
      <th mat-header-cell *matHeaderCellDef> NIE </th>
      <td mat-cell *matCellDef="let element" class="p-3"> {{element.nie}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="incomeSpecialty">
      <th mat-header-cell *matHeaderCellDef> ESPECIALIDAD </th>
      <td mat-cell *matCellDef="let element" class="p-3" justify="center"> {{element.incomeSpecialty}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let element" class="p-3">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-mini-fab class="green" aria-label="Example icon button with a menu icon">
          <mat-icon>assignment</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 40, 60]" aria-label="Select page of user"></mat-paginator>

  <shared-loader *ngIf="isLoading"></shared-loader>
</div>



