<table class="responsive-table centered table striped">
    <thead class="blue lighten-4">
        <th>ID</th>
        <th>NOMBRES</th>
        <th>APELLIDOS</th>
        <th>NIE</th>
        <th>ESPECIALIDAD</th>
        <th>ACCIONES</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Edwin Alexander</td>
        <td>Bernardino Morán</td>
        <td>814892</td>
        <td>Bachillerato Tecnico Vocacional En Desarrollo De Software</td>
        <td>
          <a href="#" class="btn blue darken-3" title="Editar"><i class="material-icons">edit</i></a>
          |
          <a href="#" class="btn red" title="Eliminar"><i class="material-icons">delete</i></a>
          <a href="#" class="btn light-green accent-3" title="Ficha de Matricula"><i class="material-icons">assignment</i></a>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Benjamin Ernesto</td>
        <td>Morán Mate</td>
        <td>101020</td>
        <td>Bachillerato Tecnico Vocacional En Desarrollo De Software</td>
        <td>
          <a href="#" class="btn blue darken-3"><i class="material-icons">edit</i></a>
          |
          <a href="#" class="btn red"><i class="material-icons">delete</i></a>
          <a href="#" class="btn light-green accent-3"><i class="material-icons">assignment</i></a>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Jonathan Alexander</td>
        <td>Bernardino Navarro</td>
        <td>814803</td>
        <td>Bachillerato Tecnico Vocacional En Desarrollo De Software</td>
        <td>
          <a href="#" class="btn blue darken-3"><i class="material-icons">edit</i></a>
          |
          <a href="#" class="btn red"><i class="material-icons">delete</i></a>
          <a href="#" class="btn light-green accent-3"><i class="material-icons">assignment</i></a>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Juan Nelson</td>
        <td>Navarro Deleon</td>
        <td>814892</td>
        <td>Bachillerato Tecnico Vocacional En Desarrollo De Software</td>
        <td>
          <a href="#" class="btn blue darken-3"><i class="material-icons">edit</i></a>
          |
          <a href="#" class="btn red"><i class="material-icons">delete</i></a>
          <a href="#" class="btn light-green accent-3"><i class="material-icons">assignment</i></a>
        </td>
      </tr>
    </tbody>
    <!-- class="btn light-green accent-3" -->
</table>
