html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spaces{
  flex: 1 1 auto;
}

.container{
  margin: auto;
  padding: 45px 0;
  width: 100%;
  max-width: 1650px;
}

.container-two{
  margin: auto;
  padding: 45px 0;
  width: 100%;
  max-width: 1650px;
}

.container-three{
  margin: auto;
  padding: 45px 0;
  width: 100%;
  max-width: 550px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 10px;
}

.mat-table {
  justify-content: center;
}

.s{
  font-size: 10px !important;
}

.mat-datepicker-content .mat-calendar {
  width: 296px;
  height: 384px !important;
}

